* {
  margin: 0;
  padding: 0;
}

.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: auto;
}

.title {
  background-color: var(--accent-color);
  color: #ffffff;
  font-size: larger;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown {
  position: relative;
  border-radius: 50%;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown-button {
  color: #232323 !important;
  border-radius: 50% !important;
  padding: 10px !important;
  border: none !important;
  background-color: var(--accent-color) !important;
}

.dropdown-button:hover {
  color: #000000 !important;
}

.dropdown-content {
  background-color: #232323 !important;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #ffffff;
  background-color: var(--accent-color);;
}

.appBar {
  background-color: --background-content-color;
  font-size: large;
  color: var(--text-color);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: var(--accent-color);
}

.appBar input[type=search] {
  border-radius: 10px;
  border-color: var(--accent-color);
  background-color: #232323;
  color: #ffffff;
  float: right;
}

.appBar-text {
  color: #ffffff;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.body {
  background-color: #232323;
  color: #ffffff;
  font-size: small;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  border-radius: 10px;
}

.typing {
  display: flex;
  direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Titlebar Styling */
#navbar {
  margin-bottom: 4px !important;
  margin-top: 4px;
}

.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--input-box-color);
}

.dropdown-toggle::after {
  display: none !important; 
}

#nav-dropdown {
  border-radius: 50% !important;
  margin: 0;
  padding: 0;
  display: flex;   
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 32px;
}

div.container {
  max-width: 100% !important;
  flex-wrap: nowrap !important;
}

form.form.search {
  margin: 0 0 0 auto;
}

a.navbar-brand {
  padding-left: 10px;
  color: var(--accent-color);
  font-weight: bold;
}

a.navbar-brand:focus {
  color: var(--accent-color);
}

a.navbar-brand:hover {
  color: var(--accent-secondary-color);
}

#navbar-toggler {
  border: none;
}

#navbar-toggler:hover {
  background-color: var(--accent-secondary-color-transparent);
}

#navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

#offcanvasNavbar-expand-lg {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 300px;
}

button.btn-close {
  color: var(--text-color);
}

button.btn-close:focus {
  box-shadow: none;
  opacity: var(--bs-btn-close-opacity);
}

div.dropdown-menu {
  background-color: var(--background-content-color);
  border: none;
}

a.dropdown-item {
  color: var(--placeholder-text-color);
}

a.dropdown-item:focus {
  background-color: var(--background-content-color);
}

a.dropdown-item:hover {
  color: var(--background-content-color);
  background-color: var(--accent-color);
}

a.dropdown-item:active {
  color: var(--background-content-color);
  background-color: var(--accent-secondary-color);
}

div.input-group {
  min-width: 150px;
}

/*  Modal Styling */

div.modal-content {
  background-color: var(--background-content-color);
  color: var(--text-color);
}