.row-gap-container, 
.col-gap-container,
.row-to-col-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    width: 100%;
}

 .left-justify-container {
    align-items: start;
 }

 .right-justify-container {
    justify-content: right;
 }

 div.no-margins-container {
    margin: 0;
  }

.col-gap-container {
    flex-direction: column;
}

.input-textarea-container {
    background-color: var(--input-box-color);
    border-radius: 0.375em;
    padding: 0 0.5em;
    width: 100%;
    border: 0.125em solid transparent;
}

.input-textarea-container:hover {
    border: 0.125em solid var(--placeholder-text-color);
}

.input-textarea-container:active,
.input-textarea-container:focus-within {
    border: 0.125em solid var(--accent-color);
}

.hidden-info-container {
    display: none;
}

@media (max-width: 825px) {
    div.row-to-col-container {
        flex-direction: column;
    }
}