  .form-container {
    display: grid;
    flex-direction: column;
    margin: 5% auto;
    padding: 20px 40px;
    background-color: var(--background-content-color);
    width: 30%;
    min-width: 300px;
    border-radius: 10px;
  }

  .form-title {
    margin: 0px 0px 20px 0px;
    color: var(--text-color);
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; 
  }
  
  input.form-control {
    border: 0.125em solid var(--input-box-color);
    height: 40px;
    width: 100%;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
    background-color: var(--input-box-color);
    color: var(--text-color);
    border-radius: 6px;
    caret-color: var(--text-color);
  }

  input.form-control::placeholder {
    color: var(--placeholder-text-color);
  }

  /* Change color of autofills to match rest of the form */
  input.form-control:-webkit-autofill {
    border: 0.125em solid var(--input-box-color);
    -webkit-text-fill-color: var(--text-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--input-box-color) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input.form-control:-webkit-autofill:focus {
    border-color: var(--accent-color);
    -webkit-text-fill-color: var(--text-color);
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
  }
  
  input.form-control:focus {
    border-color: var(--accent-color);
    color: var(--text-color);
    box-shadow: none;
    outline: none;
    transition: background-color 5000s ease-in-out 0s;
  }

  input.form-control::-ms-reveal,
  input.form-control::-ms-clear,
  input.form-control::after {
    display: none; 
  }

  div.form-floating > .form-control:focus ~ label,
  div.form-floating > .form-control:not(:placeholder-shown) ~ label {
    color: var(--placeholder-text-color);
  }

  div.form-floating > .form-control:focus ~ label::after,
  div.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
    background-color: transparent;
  }

  div.form-group {
    margin: 10px auto;
    width: 100%;
  }
  
  form > button.btn {
    margin: 10px auto;
    background-color: var(--accent-secondary-color);
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
  }

  form > button.btn:hover {
    outline: none;
    background-color: var(--accent-color);
  }

  form > button.btn:active {
    outline: none;
    background-color: var(--accent-color) !important;
    border: none;
  }

  small.form-text {
    color: var(--placeholder-text-color);
    text-align: left;
  }

  /* Add a green text color and a checkmark when the requirements are right */
  small.valid {
    padding-left: 10px;
  }

  .valid:before {
    color: green;
    position: relative;
    left: -10px;
    content: "\2713";
  }

  /* Add a red text color and an "x" icon when the requirements are wrong */
  small.invalid {
    padding-left: 10px;
  }

  small.invalid:before {
    color: red;
    position: relative;
    left: -10px;
    content: "\2715";
  }

  form.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; 
  }

  label.col-label {
    text-wrap: nowrap;
    width: 6.8125em;
  }

  div.text-align-top {
    display: inline;
    vertical-align: top;
  }

  span.input-group-text {
    background-color: var(--input-box-color);
    color: var(--text-color); 
    border: none;
    height: 40px;
  }

small.or-social-auth {
  margin: 0 auto;
  text-align: center;
}

hr.break-line {
  color: var(--placeholder-text-color);
}

#centered-text {
  text-align: center;
}

div.verify-container {
  min-width: 500px;
}

div.align-right {
  justify-content: right;
}

#search-group > span.input-group-text {
  border-radius: 0.375rem;
}

div.search-container {
  justify-content: right;
}

input.search-input {
  display: none;
}

#search-group.open > span.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

div.search-container.open > input.search-input {
  display: block;
}

/* Form Multiselect Styling */
div.multiselect-container {
  width: 100%;
}

div.multiselect__control {
  background-color: var(--input-box-color);
  color: var(--text-color);
  border-radius: 0.375em;
  border: 0.125em solid transparent;
}

div.multiselect__placeholder {
  color: var(--placeholder-text-color);
}

div.multiselect__control--menu-is-open,
div.css-t3ipsp-control {
  box-shadow: none;
}

div.multiselect__control--menu-is-open:hover,
div.css-t3ipsp-control:hover {
  border-color: var(--accent-color);
}

div.multiselect__multi-value {
  background-color: var(--background-color);
}

div.multiselect__multi-value__label,
div.multiselect__multi-value__remove {
  color: var(--text-color);
}

div.multiselect__multi-value__remove:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
  opacity: 80%;
}

div.multiselect__option:hover,
div.multiselect__option--is-focused {
  background-color: var(--accent-color);
  color: var(--background-content-color);
}

div.multiselect__input-container,
div.multiselect__indicator,
div.multiselect__option--is-disabled {
  color: var(--placeholder-text-color);
}

div.multiselect__menu,
div.multiselect__option--is-disabled {
  background-color: var(--background-content-color);
}

div.multiselect__menu {
  box-shadow: 0em 0em 1em var(--background-color);
}

div.multiselect__group-heading {
  color: var(--accent-color);
  font-weight: bold;
}

/* Images Upload Styling */
input[type=file] {
  display: none;
}

.images-upload-input {
  background-color: var(--input-box-color);
  border-radius: 0.375em;
  display: flex;
  justify-content: center;
  padding: 1em;
  border: 0.125em solid transparent;
}

.images-upload-input:hover {
  border: 0.125em solid var(--accent-color);
}

.image-upload-svg-container {
  width: 40%;
}

div.image-uploaded-svg-container {
  width: 60%;
}

.image-upload-svg-container > svg {
  width: 100%;
  height: 100%;
  color: var(--placeholder-text-color);
}

.images-upload-input:hover,
div.multiselect__indicator:hover {
  color: var(--accent-color);
}

a.carousel-control-next {
  right: -20%;
}

span.carousel-control-next-icon {
  width: 4em;
  height: 4em;
}

a.carousel-control-prev {
  left: -20%;
}

div.carousel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div.uploaded-images-container,
div.carousel-item,
div.carousel-inner {
  width: 100%;
  height: 100%;
}

div.uploaded-images-container {
  display: flex;
}

div.uploaded-images-container > img {
  width: 100%;
  margin: auto 0;
}

@media (max-width: 825px) {
  div.text-align-top {
    height: 6em;
  }

  label.shift-down-label {
    margin: 0.5em 0 0 0;
  }
}

@media (width > 825px) {
  label.shift-down-reverse {
    margin: 0.5em 0 0 0;
  }
}
