  .form-container {
    display: grid;
    flex-direction: column;
    margin: 5% auto;
    padding: 20px 40px;
    background-color: var(--background-content-color);
    width: 30%;
    min-width: 300px;
    border-radius: 10px;
  }

  .form-title {
    margin: 0px 0px 20px 0px;
    color: var(--text-color);
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; 
  }
  
  input.form-control {
    border: 1px solid var(--input-box-color);
    height: 40px;
    width: 100%;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
    background-color: var(--input-box-color);
    color: var(--text-color);
    border-radius: 6px;
    caret-color: var(--text-color);
  }

  input.form-control::placeholder {
    color: var(--placeholder-text-color);
  }

  /* Change color of autofills to match rest of the form */
  input.form-control:-webkit-autofill {
    border: 1px solid var(--input-box-color);
    -webkit-text-fill-color: var(--text-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--input-box-color) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input.form-control:-webkit-autofill:focus {
    border-color: var(--accent-color);
    outline: 2px solid var(--accent-color);
    -webkit-text-fill-color: var(--text-color);
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
  }
  
  input.form-control:focus {
    border-color: var(--accent-color);
    outline: 2px solid var(--accent-color);
    color: var(--text-color);
    box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
  }

  input.form-control::-ms-reveal,
  input.form-control::-ms-clear,
  input.form-control::after {
    display: none; 
  }

  div.form-group {
    margin: 10px auto;
    width: 100%;
  }
  
  form > button.btn {
    margin: 10px auto;
    background-color: var(--accent-secondary-color);
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
  }

  form > button.btn:hover {
    outline: none;
    background-color: var(--accent-color);
  }

  form > button.btn:active {
    outline: none;
    background-color: var(--accent-color) !important;
    border: none;
  }

  small.form-text {
    color: var(--placeholder-text-color);
    text-align: left;
  }

  /* Add a green text color and a checkmark when the requirements are right */
  small.valid {
    padding-left: 10px;
  }

  .valid:before {
    color: green;
    position: relative;
    left: -10px;
    content: "\2713";
  }

  /* Add a red text color and an "x" icon when the requirements are wrong */
  small.invalid {
    padding-left: 10px;
  }

  small.invalid:before {
    color: red;
    position: relative;
    left: -10px;
    content: "\2715";
  }

  form.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; 
  }

  span.input-group-text {
    background-color: var(--input-box-color);
    color: var(--text-color); 
    border: none;
    height: 40px;
  }

small.or-social-auth {
  margin: 0 auto;
  text-align: center;
}

hr.break-line {
  color: var(--placeholder-text-color);
}

button.social-button {
  margin: 10px auto;
  border: none;
  border-radius: 6px;
  height: 40px;
  width: 100%;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

button.social-button:hover {
  outline: none;
}

button.social-button:active {
  outline: none;
  border: none;
}

button.google-button {
  background-color: #DB4437;
}

button.google-button:hover {
  background-color: #E57368;
}

button.google-button:active {
  background-color: #E57368 !important;
}

button.facebook-button {
  background-color: #0a65ff;
}

button.facebook-button:hover {
  background-color: #7cb6ff;
}

button.facebook-button:active {
  background-color: #7cb6ff !important;
}

#centered-text {
  text-align: center;
}

div.verify-container {
  min-width: 500px;
}

div.align-right {
  justify-content: right;
}

button.pop-on-hover-btn {
  font-weight: bold;
  border-radius: 20px;
  max-width: 100px;
  background-color: var(--background-color);
  color: var(--accent-color);
  box-sizing: border-box;
  border: 1px solid var(--accent-color) !important;
}

button.pop-on-hover-btn:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
}

button.pop-on-hover-btn:active {
  color: var(--background-color) !important;
  background-color: var(--accent-secondary-color) !important;
}

button.cancel-btn {
  margin-right: 12px;
}

div.button-row {
  display: flex;
  margin-top: 12px;
}

button.close-btn > svg {
  stroke-width: 0.1em;
}

button.close-btn {
  border-radius: 0.375rem;
  width: fit-content;
  align-items: center;
  justify-content: center;
  min-width: 48px !important;
  padding: 6px;
  margin: 0 !important;
  
}

#search-group > span.input-group-text {
  border-radius: 0.375rem;
}

div.search-container {
  justify-content: right;
}

input.search-input, button.close-btn {
  display: none;
}

#search-group.open > span.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

div.search-container.open > input.search-input, 
div.search-container.open > button.close-btn {
  display: flex;
}
