:root {
  --background-color: #212121;
  --text-color: white;
  --background-content-color: #303030; 
  --input-box-color: #404040;
  --placeholder-text-color: #b6b5b5;
  --button-hover-color: #303030;
  --accent-color: #FDB750;
  --accent-secondary-color: #e19742;
  --accent-secondary-color-transparent: #FDB75050;
  --delete-secondary-color: #D12E30;
  --delete-color: #d64646;
  --ultraeffective-color: #098F33;
  --supereffective-color: #37DB51;
  --effective-color: #454545;
  --subeffective-color: #e91741;
  --nominallyeffective-color: #850a08;
  --no-effect-color: #212121;
  --range-bottom-color: #fa4545;
  --range-below-color: #fab545;
  --range-mid-color: #e5fa45;
  --range-above-color : #45fa6c;
  --range-top-color: #26bfd0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
