div.reset-body {
    padding: 12px;
}

.modal-dialog {
    max-width: 600px !important;
}

button.modal-btn {
    min-width: 80px;
    max-width: 150px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

button.bg-btn:active {
    background-color: var(--background-color) !important;
}