div.reset-body {
    padding: 12px;
}

.modal-dialog {
    max-width: 600px !important;
}

h5.modal-title {
    margin-bottom: 0;
}

div.error-icon > svg {
    stroke-width: .025em;
    height: 18px;
    width: 18px;
}

div.search-modal {
    z-index: 9999;
}