.card-background {
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    max-width: 650px;
    height: 100%;
    min-height: 420px;
    max-height: 910px;
    border-radius: 2%;
    background-color: var(--accent-secondary-color-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-background-aspect {
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    max-width: 75%;
    padding-top: max(420px, 105%);
    position: relative; /* If you want text inside of it */
    border-radius: 2%;
    background-color: var(--accent-secondary-color-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.aspect-border {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 3.2%;
    border: none;
}

div.aspect-inner {
    width: 100%;
    height: 100%;
}

div.mon-card-body {
    height: calc(87.955% - 40.8px);
}

.card-inner {
    height: 520px;
    width: 360px;
    background-color: var(--accent-color);
    position: relative;
    color: white;
    border-radius: 1%;
}

div.mon-card-header {
    padding-top: 0;
    padding-bottom: 0;
}

div.name-and-time {
    margin: 0;
}

.image-aspect-container {
    margin: 0 auto;
    width: 100%;
    padding-top: max(164px, 70%);
    position: relative; /* If you want text inside of it */
    border-radius: 2%;
    background-color: var(--accent-secondary-color-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.col {
    padding: 0;
}

div.right-col {
    display: flex;
    justify-content: right;
}

div.row {
    margin: 0;
}

div.view-name > h3 {
    margin: 0;
    padding: 3% 0%;
    font-size: 1.25em;
}

div.image-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: blue;
}

div.image-container > img {
    padding: 0;
}

div.content-text {
    margin: 0;
    height: 48.7%;
    padding: 0;  
    gap: 2%;
    align-content: start;
}

hr.content-separator {
    margin: var(--bs-gutter-y) 0;
}

div.content-text > p {
    max-height: 100px;
    max-width: 100%;
    padding: 0;
    display: -webkit-box;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;  /* Number of lines displayed before it truncate */
    overflow: hidden;
    line-height: 1.2;
    font-size: 1em;
    margin: 0;
}

div.content-text > h3 {
    font-size: 1.2em;
    padding: 4px 0;
    margin: 0;
}

div.mon-info {
    padding: 0;
}

div.view-name {
    flex-direction: column;
}

div.mon-species {
    font-size: smaller;
    padding: 0;
}

div.typing {
    padding: 0;
    display: flex;
    gap: 1em;
    justify-content: right;
    align-items: center;
}

a.type1 {
    background-color: green;
    border-color: green;
}

a.type2 {
    background-color: purple;
    border-color: purple;
}

div.ability {
    padding: 0;
}

a.links {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1em;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    overflow: hidden;
    pointer-events: none;
}

a.links:hover {
    cursor: pointer;
}

div.ability-col {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: var(--accent-secondary-color);
}

div.description {
    max-width: 100%;
    height: calc(90% - 41.2px);
    padding: 0;
}

div.description > span {
    font-size: 1em;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

span.content-interactions {
    padding: 0px 11px;
    height: 24px;
    display: flex;
}

div.inner-div {
    display: flex;
    text-align: center;
}

div.interaction-nums {
    height: 24px;
    line-height: 24px;
    padding-left: 4px;
}

div.interaction-nums > span {
    font-size: small;
    display: block;
}