.type-container {
    background-color: var(--background-content-color);
    width: 100%;
    height: 100%;
}

.types-h4 {
    margin: 0;
}

div.type-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75em;
}

.type-input {
    all: unset;
    background-color: var(--background-color);
    border: 1px solid transparent;
    padding: 0.125em 0.375em;
    border-radius: 0.375em;
}

.type-input:active, :focus-visible {
    border: 1px solid var(--accent-color);
}

/* Types Table */
.types-table {
    margin-top: 1em;
    width: 100%;
    overflow-x: scroll;
}

.types-table-key {
    font-size: 0.5em;
    color: var(--placeholder-text-color);
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.type-key-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 0.5em;
}

.attacking-type {
    padding-right: 0.5em;
    display: flex;
    justify-content: center;
}

.multiplier-input {
    width: 2em;
    border-radius: 0;
}

/* Media Queries */
@media (min-width: 700px) {
    div.type-row {
        width: 50%;
    }
}

@media (max-width: 699px) {
    div.type-row {
        width: 100%;
    }
}